apiVersion: batch/v1
kind: CronJob
metadata:
  name: check-circleci
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: cron-check-circleci
              image: k8s-m1.igtm.link:5000/check-circleci
              env:
                - name: SLACK_WEBHOOK
                  value: ""
                - name: SLACK_CHANNEL_NAME
                  value: "test"
                - name: TARGET_URLS
                  value: "https://google.com"
          restartPolicy: OnFailure